n8n/Load data on vector 2.json
{
  "name": "Load data on vector 2",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ideasportal",
          "mode": "list",
          "cachedResultName": "ideasportal"
        },
        "options": {
          "pineconeNamespace": "Ideas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        864,
        -304
      ],
      "id": "7f27faba-8d5a-4d7f-9414-57585e4ea6cd",
      "name": "Pinecone Vector Store",
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "3Cv5r27qkiiAmBS2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -240
      ],
      "id": "75aacc29-a3ae-41a0-9cd0-6fe18f5c8138",
      "name": "When chat message received",
      "webhookId": "5983896b-1de6-4ecc-bf9e-31181e305715"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.Summary }} {{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "ID",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1040,
        -16
      ],
      "id": "1c9df1e5-23f5-48c4-bf58-42ed06cfd5f7",
      "name": "Default Data Loader",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ],
      "id": "1227a17d-fb1a-46aa-98ea-e83a4339d5ad",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024,
          "stripNewLines": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "61b8b5a2-ab0c-472b-97bb-092fc13aff08",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hxzJCuLE4aJw0tn5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "data0",
        "options": {
          "includeEmptyCells": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -464,
        -448
      ],
      "id": "de7e4302-d5c9-40ed-a193-12c1c0f06fff",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -528
      ],
      "id": "f7b92571-9814-413e-9797-ce8ffb7203f0",
      "name": "Loop Over Items",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "323b19fd-ac52-4bcd-8bdc-b13e347cf616",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed21f9501d566728293c9863d26da91b214d10b76c77c69907a51cde5019817f"
  },
  "id": "TirCyhoCVV3VbAzb",
  "tags": []
}